<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <div id="plot-container">
      <script>
        /*
          Local Storage guide:
          key                 description
          data                Data is a dictonary with string keys X, Y, color, molecules, qValue, setName, and setSize.
                              The values of each of these keys is a list of size n representhing the corresponding value for the nth
                              gene set. So for example data["X"][23] is the x position of the 23 gene set on the graph
          
          selected            This is a list of 0 to 2 items. At each index is a dictonary with keys pointNumber, qValue, setName, and molecules.
                              Here, the item at selected[0] contains all the information on the first selected point, and selected[1] contains
                              the info for the second point. So if you needed the qVaule of point 1, you could do selectes[0]["qValue"].

          settings            This is a dictonary contianing.. finish when settings is done 

        */
        const keys = ["X", "Y", "qValue", "setName", "setSize", "molecules"];

        if (localStorage.getItem("data") !== null) {
          graph();
        } else {
          // Load the JSON data
          fetch("/read-output/")
            .then((response) => response.json())
            .then((data) => {
              // Object to store arrays
              const dataStorage = {};

              // Transform the JSON data into arrays dynamically
              keys.forEach((key) => {
                dataStorage[key] = data.map((d) => d[key]);
              });
              dataStorage["color"] = data.map((d) => d["qValue"]);

              // Store the entire data object in localStorage as JSON string
              localStorage.setItem("data", JSON.stringify(dataStorage));
              graph();
            })
            .catch((error) => console.log(error));
        }

        function graph() {
          let settings = getSettings();
          let full_graph_data = JSON.parse(localStorage.getItem("data"));
          let graph_data = {};

          keys.forEach((key) => {
            graph_data[key] = [];
          });

          graph_data["color"] = [];

          for (let i = 0; i < full_graph_data["X"].length; i++) {
            if (full_graph_data["qValue"][i] <= settings["cutoff"]) {
              keys.forEach((key) => {
                graph_data[key].push(full_graph_data[key][i]);
              });
              graph_data["color"].push(full_graph_data["color"][i]);
            }
          }

          localStorage.setItem("testing", JSON.stringify(graph_data));
          // Define the plotly.js scatter plot
          var trace = {
            x: graph_data["X"],
            y: graph_data["Y"],
            mode: "markers",
            type: "scatter",
            customdata: graph_data["qValue"],
            hovertemplate:
              "X: %{x}<br>Y: %{y}<br>qValue: %{customdata}<extra></extra>", // Format hover text
            marker: {
              color: graph_data["color"],
              colorscale: [
                [0.0, settings["pointEndColor"]],
                [1.0, settings["pointStartColor"]],
              ],
              colorbar: {
                title: {
                  text: "Q-Value",
                },
              },
              size: settings["pointSize"],
            },
          };

          var layout = {
            title: "UMAP projection of the Gene dataset",
            hovermode: "closest",
            xaxis: { title: "X" },
            yaxis: { title: "Y" },
            height: Math.max(window.innerHeight - 50, 300),
            width: Math.max(window.innerWidth - 50, 300),
          };

          // Create the plot
          Plotly.newPlot("plot-container", [trace], layout);

          // Handles selecting and unselecting data
          var myPlot = document.getElementById("plot-container");
          myPlot.on("plotly_click", function (data) {
            let selected = localStorage.getItem("selected");
            settings = getSettings();
            if (selected !== null) {
              selected = JSON.parse(selected);
            } else {
              selected = [];
            }

            var point = data.points[0];
            var pn = point.pointNumber;
            var tn = point.curveNumber;
            var colors = point.data.marker.color.slice();

            let unselect = false;

            if (colors[pn] === settings["selectedColor"]) {
              let color = full_graph_data["qValue"][pn];
              colors[pn] = color;
              full_graph_data["color"][pn] = color;
              unselect = true;
              console.log(unselect);
            } else if (selected.length >= 2) {
              return;
            } else {
              colors[pn] = settings["selectedColor"];
              full_graph_data["color"][pn] = settings["selectedColor"];
            }

            localStorage.setItem("data", JSON.stringify(full_graph_data));

            var update = {
              marker: {
                color: colors,
                colorbar: {
                  title: {
                    text: "Q-Value",
                  },
                },
                colorscale: [
                  [0.0, settings["pointEndColor"]],
                  [1.0, settings["pointStartColor"]],
                ],
                size: settings["pointSize"],
              },
            };

            let current = {
              pointNumber: pn,
              qValue: full_graph_data["qValue"][pn],
              molecules: full_graph_data["molecules"][pn],
              setname: full_graph_data["setName"][pn],
            };

            if (unselect) {
              for (let i = 0; i < selected.length; i++) {
                if (selected[i]["pointNumber"] === pn) {
                  selected.splice(i, 1);
                }
              }
            } else {
              selected.push(current);
            }

            localStorage.setItem("selected", JSON.stringify(selected));

            Plotly.restyle("plot-container", update, [tn]);
          });
        }

        // If settings is update apply it
        window.addEventListener("storage", function (e) {
          if (e.key === "settings") {
            let selected = JSON.parse(localStorage.getItem("selected"));
            let graph_data = JSON.parse(localStorage.getItem("data"));
            let settings = JSON.parse(localStorage.getItem("settings"));
            let pointNumber;
            for (let i = 0; i < selected.length; i++) {
              pointNumber = selected[i]["pointNumber"];
              graph_data["color"][pointNumber] = settings["selectedColor"];
            }
            localStorage.setItem("data", JSON.stringify(graph_data));
            graph();
          }
        });

        function clearSelected() {
          let graph_data = JSON.parse(localStorage.getItem("data"));
          let selected_points = JSON.parse(localStorage.getItem("selected"));
          for (let i = 0; i < selected_points.length; i++) {
            point_number = selected_points[i]["pointNumber"];
            qvalue = selected_points[i]["qValue"];
            graph_data["color"][point_number] = qvalue;
          }
          localStorage.setItem("selected", "[]");
          localStorage.setItem("data", JSON.stringify(graph_data));
          graph();
        }

        window.onresize = function () {
          let update = {
            height: Math.max(window.innerHeight - 50, 300),
            width: Math.max(window.innerWidth - 50, 300),
          };
          Plotly.relayout("plot-container", update);
        };

        function getSettings() {
          return JSON.parse(localStorage.getItem("settings"));
        }
      </script>
    </div>
  </body>
</html>
