<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <div id="plot-container">
      <script>
        /*
          Local Storage guide:
          key                 description
          data                Data is a dictonary with string keys X, Y, Effective gene set size, 

        */
        if (localStorage.getItem("data") !== null) {
          graph();
        } else {
          // Load the JSON data
          fetch("/read-output/")
            .then((response) => response.json())
            .then((data) => {
              // Key names to be extracted from data
              const keys = [
                "X",
                "Y",
                "Q-value",
                "Gene set name",
                "Effective gene set size",
                "Molecules contributed to enrichment",
              ];

              // Object to store arrays
              const dataStorage = {};

              // Transform the JSON data into arrays dynamically
              keys.forEach((key) => {
                dataStorage[key] = data.map((d) => d[key]);
              });
              dataStorage["color"] = data.map((d) => d["Q-value"]);

              // Store the entire data object in localStorage as JSON string
              localStorage.setItem("data", JSON.stringify(dataStorage));
              graph();
            })
            .catch((error) => console.log(error));
        }

        function graph() {
          let settings = getSettings();
          let graph_data = JSON.parse(localStorage.getItem("data"));
          // Define the plotly.js scatter plot
          var trace = {
            x: graph_data["X"],
            y: graph_data["Y"],
            mode: "markers",
            type: "scatter",
            customdata: graph_data["Q-value"],
            hovertemplate:
              "X: %{x}<br>Y: %{y}<br>Q-value: %{customdata}<extra></extra>", // Format hover text
            marker: {
              color: graph_data["color"],
              colorscale: [
                [0.0, settings["pointEndColor"]],
                [1.0, settings["pointStartColor"]],
              ],
              colorbar: {
                title: {
                  text: "Q-value",
                },
              },
              size: settings["pointSize"],
            },
          };

          var layout = {
            title: "UMAP projection of the Gene dataset",
            hovermode: "closest",
            xaxis: { title: "X" },
            yaxis: { title: "Y" },
            height: Math.max(window.innerHeight - 50, 300),
            width: Math.max(window.innerWidth - 50, 300),
          };

          // Create the plot
          Plotly.newPlot("plot-container", [trace], layout);

          // Handles selecting and unselecting data
          var myPlot = document.getElementById("plot-container");
          myPlot.on("plotly_click", function (data) {
            let selected = localStorage.getItem("selected");
            settings = getSettings();
            if (selected !== null) {
              selected = JSON.parse(selected);
            } else {
              selected = [];
            }

            var point = data.points[0];
            var pn = point.pointNumber;
            var tn = point.curveNumber;
            var colors = point.data.marker.color.slice();

            let unselect = false;

            if (colors[pn] === settings["selectedColor"]) {
              let color = graph_data["Q-value"][pn];
              colors[pn] = color;
              graph_data["color"][pn] = color;
              unselect = true;
              console.log(unselect);
            } else if (selected.length >= 2) {
              return;
            } else {
              colors[pn] = settings["selectedColor"];
              graph_data["color"][pn] = settings["selectedColor"];
            }

            localStorage.setItem("data", JSON.stringify(graph_data));

            var update = {
              marker: {
                color: colors,
                colorbar: {
                  title: {
                    text: "Q-value",
                  },
                },
                colorscale: [
                  [0.0, settings["pointEndColor"]],
                  [1.0, settings["pointStartColor"]],
                ],
                size: settings["pointSize"],
              },
            };

            let current = {
              pointnumber: pn,
              qvalue: graph_data["Q-value"][pn],
              molecules: graph_data["Molecules contributed to enrichment"][pn],
              setname: graph_data["Gene set name"][pn],
            };

            if (unselect) {
              for (let i = 0; i < selected.length; i++) {
                if (selected[i]["pointnumber"] === pn) {
                  selected.splice(i, 1);
                }
              }
            } else {
              selected.push(current);
            }

            localStorage.setItem("selected", JSON.stringify(selected));

            Plotly.restyle("plot-container", update, [tn]);
          });
        }

        // If settings is update apply it
        window.addEventListener("storage", function (e) {
          if (e.key === "settings") {
            let selected = JSON.parse(localStorage.getItem("selected"));
            let graph_data = JSON.parse(localStorage.getItem("data"));
            let settings = JSON.parse(localStorage.getItem("settings"));
            let pointnumber;
            for (let i = 0; i < selected.length; i++) {
              pointnumber = selected[i]["pointnumber"];
              graph_data["color"][pointnumber] = settings["selectedColor"];
            }
            localStorage.setItem("data", JSON.stringify(graph_data));
            graph();
          }
        });

        function clearSelected() {
          let graph_data = JSON.parse(localStorage.getItem("data"));
          let selected_points = JSON.parse(localStorage.getItem("selected"));
          for (let i = 0; i < selected_points.length; i++) {
            point_number = selected_points[i]["pointnumber"];
            qvalue = selected_points[i]["qvalue"];
            graph_data["color"][point_number] = qvalue;
          }
          localStorage.setItem("selected", "[]");
          localStorage.setItem("data", JSON.stringify(graph_data));
          graph();
        }

        window.onresize = function () {
          let update = {
            height: Math.max(window.innerHeight - 50, 300),
            width: Math.max(window.innerWidth - 50, 300),
          };
          Plotly.relayout("plot-container", update);
        };

        function getSettings() {
          return JSON.parse(localStorage.getItem("settings"));
        }
      </script>
    </div>
  </body>
</html>
